.body {
	margin: 0;
}
.header{
	background-color: #665555;
	background: url('./images/header-background.png');
	height: 488px;
	position: relative;
}
.logo-and-top-menu {
	min-width: 100%;
    height: 153px;
    position: relative;
}
.logo {
	left: 17%;
	margin: 0;
	opacity: 0.68;
	position: absolute;
	top: 52px;
}
.top-menu-position {
	left: calc(31% + 237px);
	position: absolute;
}
.main-menu-position {
	height: 300px;
	min-width: 100%;
	position: relative;
	top: 67px;
}
.main-menu-content-position {
	float: left;
	height: 783px;
	min-width: 100%;
	position: relative;
	top: 68px;
}
.content-block-position {
	border-bottom: 1px solid #e5e5e5;
	float: left;
	height: 415px;
	min-width: 100%;
	position: relative;
	top: 70px;
}
.footer-position {
	float: left;
	height: 388px;
	min-width: 100%;
	position: relative;
	top: 92px;
}