<footer>
      <div>
        <h5>About Us</h5>
        <nav>
          <ul>
            <li>About us</li>
            <li>Why us</li>
            <li>Customer Stories</li>
            <li>Press Resources</li>
            <li>Press Releases</li>
            <li>Contact us</li>
          </ul>
        </nav>
      </div>
      <div>
        <h5>About Us</h5>
        <nav>
          <ul>
            <li>About us</li>
            <li>Why us</li>
            <li>Customer Stories</li>
            <li>Press Resources</li>
            <li>Press Releases</li>
            <li>Contact us</li>
          </ul>
        </nav>
      </div>
      <div>
        <h5>Testimoanials</h5>
        <img src="" alt="footer-button-left">
        <img src="" alt="footer-button-right">
        <p>
          Lorem Ipsum is simply dummy text of the printing and<br>
          typesetting industry. Lorem Ipsum has been the industr<br>
          standard dummy text ever since the 1500s,<br>
          when an unknown printer took a 
        </p>
        <p>
          Lorem Ipsum is simply<br>
          Owner, Lorem Ipsum
        </p>
      </div>
      <img src="" alt="Logo-image">
    </footer>