<header class="header">
        <h1 class="header__logo">
          <a href="">
            <img src="./assets/images/logo.png">
          </a>
        </h1>
        <nav class="header__menu">
          <ul class="header__list">
            <li class="header__list_item">Solutions</li>
            <li class="header__list_item">Products</li>
            <li class="header__list_item">Portfolio</li>
            <li class="header__list_item">Contacts</li>
          </ul>
        </nav>  
      <article>
        <img src="" alt="coffee-image">
        <p>Introducing<br>Something hot......</p>
        <input type="button" value="Try Demo">
        <a href="" alt="corusel-button-left"></a>
        <a href="" alt="corusel-button-right"></a>
      </article>
    </header>