<section>
          <img src="" alt="screenshot">
          <h3>Why choose us ?</h3>
          <nav>
            <ul>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting</li>
              <li>Lorem Ipsum has been the industry's standard dummy text ever</li>
              <li>When an unknown printer took a galley of type and scrambled</li>
              <li>It has survived not only five centuries, but also the leap into electronic </li>
              <li>It was popularised in the 1960s with the release of Letraset sheets containing</li>
              <li>More recently with desktop publishing software like Aldus PageMaker </li>
            </ul>
          </nav>
</section>