.carusel {
    font-family: sans-serif;
    letter-spacing: 0.01em;
    color: #FFF;
    min-width: 100%;
    position: relative;
    display: inline-block;
    height: 389px;
}
.carusel__arrow_left {
    opacity: 0.22;
    margin: 0;
    top: 119px;
    left: calc(3% + 8px);
    position: absolute;
    transition: all 0.8s ease;
}
.carusel__arrow_left:hover {
    opacity: 0.85;
    transition: all 0.8s ease;
}
.carusel__banner_image {
    left: calc(18% + 5px);
    top: 33px;
    position: absolute;
}
.carusel__banner_info {
    top: 89px;
    left: calc(26% + 322px);
    position: absolute;
    width: 348px;
}
.carusel__banner_name {
    margin: 0 0 0 0;
    font-weight: 100;
    font-size: 65px;
    letter-spacing: 2px;
}
.carusel__text_comment {
    font-size: 41px;
    font-weight: 100;
    letter-spacing: 0.6pt;
}
.carusel__button {
    color: #FFF;
    background-color: rgba(18,179,103,0.42);
    border: none;
    box-shadow: 0 0 6px 4px rgba(10,10,10,0.42);
    padding: 7px 25px 5px 16px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 100;
    opacity: 0.68;
    float: left;
    margin: 0;
    letter-spacing: 0;
    margin: 29px 0 0 calc(2% + 1px);
}
.carusel__button:active {
    opacity: 0.42;
    background-color: rgba(18,179,103,0.42);
    box-shadow: 0 0 3px 0 rgba(10,10,10,0.42);
    outline: none;
}
.carusel__button:hover {
    opacity: 0.85;
    cursor: pointer;
}
.carusel__button:focus {
    outline: none;
}
.carusel__arrow_right {
    margin: 0;
    opacity: 0.22;
    top: 119px;
    transition: all 0.8s ease;
    position: absolute;
    left: calc(65% + 351px);
}
.carusel__arrow_right:hover {
	opacity: .85;
    transition: all 0.8s ease;
}