.main-menu {
    position: absolute;
    left: calc(11% + 27px);
    width: 1000px;
}
.main-menu__block {
	list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 41px 0 0 0;
    height: 267px;
    width: 168px;
    float: left;
}
.main-menu__block + .main-menu__block {
    margin-left: calc(9% + 5px);
}
.main-menu__block_img {
    padding: 0 0 0 13px;
}
.main-menu__block_link {
    text-align: center;
	text-decoration: none;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 23px;
    color: #6b6a6a;
    top: 217px;
    width: 168px;
    float: left;
    padding: 4px 0 0 0;
}
.main-menu__block_link:hover {
	font-weight: bold;
}
