.main-menu-content {
	position: absolute;
    left: calc(11% + 1px);
}
.main-menu-content__img {
    margin-top: calc(11% + 9px);
    margin-left: calc(22% + 5px);
}
.main-menu-content__text {
	font-family: sans-serif;
	margin-left: calc(14% + 10px);
	margin-right: 14%;
}
.main-menu-content__text_h2 {
	font-size: 37px;
    font-weight: 100;
    word-spacing: -2px;
    margin-bottom: calc(2% + 6px);
    color: #4f4f4f;
}
.main-menu-content__text_p1 {
	font-size: 14px;
    font-weight: 100;
    line-height: 1.7;
    color: #818181;
}
.main-menu-content__text_p2 {
	font-size: 14px;
    font-weight: 100;
    line-height: 1.7;
    color: #818181;
}