.body {
	margin: 0;
}
.header {
	height: 488px;
	background-color: #665555;
	background: url('./images/header-background.png');
	background-size: cover;
}
.banner-image {
	position: absolute;
	margin-top: 186px;
	margin-left: calc(18% + 5px);
}
.logo {
	position: absolute;
	margin-top: 46px;
	margin-left: calc(15% + 9px);
	opacity: 0.68;
}
.top-menu {
	margin-top: 0;
    margin-left: calc(23% + 22px);
}
.top-menu-sp {
	list-style-type: none;
    display: inline-block;
    margin-left: calc(5% + 4px);
    margin-top: 8%;
    font-size: 21px;
}
.top-menu-links {
	text-decoration: none;
    color: #FFFFFF;
    opacity: 0.68;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: 100;
}
.top-menu-links:hover {
	opacity: 1;
}
.banner-text {
	color: #FFFFFF;
	position: absolute;
    margin-left: calc(51% + 6px);
    margin-top: calc(4% + 8px);
    font-family: sans-serif;
    font-size: 41px;
    letter-spacing: 0.01em;
}
.banner-text-comment {
	position: absolute;
    margin-top: -14%;
    margin-left: 0%;
    font-size: 41px;
    font-weight: 100;
}
.try-demo {
	position: absolute;
    color: #FFFFFF;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 100;
    margin-top: calc(20% + 13px);
    margin-left: calc(53% + 6px);
    opacity: 0.68;	
}
.try-demo:hover {
	opacity: 1;
}
.try-demo-border {
	position: absolute;
    background-color: #12b367;
    padding: 19px 69px;
    border: 3px solid #000000;
    opacity: 0.42;
    margin-top: calc(19% + 16px);
    margin-left: calc(51% + 11px);
}
.arrow-left {
	position: absolute;
	opacity: 0.22;
	margin-top: calc(10% + 12px);
    margin-left: calc(3% + 8px);
}
.arrow-left:hover {
	opacity: 1;
}
.arrow-right {
	position: absolute;
	opacity: 0.22;
	margin-top: calc(10% + 12px);
    margin-left: calc(92% + 10px);
}
.arrow-right:hover {
	opacity: 1;
}
.responsive {
	list-style-type: none;
    position: absolute;
   	margin-left: calc(11% + 25px);
    margin-top: calc(6% + 6px);
}
.responsive-link {
	text-decoration: none;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 23px;
    color: #6b6a6a;
    margin-left: calc(12% + 4px);
    margin-top: calc(-7% + 4px);
    text-align: center;
    position: absolute;
}
.responsive-link:hover {
	font-weight: bold;
}
.commerce {
	list-style-type: none;
    position: absolute;
   	margin-left: calc(30% + 11px);
    margin-top: calc(4% + 16px);
    padding-top: calc(1% + 8px);
    padding-right: calc(4% + 2px);
    padding-left: calc(3% + 4px);
    padding-bottom: calc(7% + 10px);
}
.commerce:hover {
	box-shadow: 0px -1px 2px 0px #8e8e8e;
}

.commerce-link {
	text-decoration: none;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 23px;
    color: #6b6a6a;
    margin-left: calc(7% + 4px);
    margin-top: calc(-3% + 4px);
    text-align: center;
    position: absolute;
}
.commerce-link:hover {
	font-weight: bold;
}
.dailyblog {
	list-style-type: none;
    position: absolute;
   	margin-left: calc(55% + 4px);
    margin-top: calc(6% + 11px);
}
.dailyblog-link {
	text-decoration: none;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 23px;
    color: #6b6a6a;
    margin-left: calc(18% + 4px);
    margin-top: calc(-1% + 4px);
    text-align: center;
    position: absolute;
}
.dailyblog-link:hover {
	font-weight: bold;
}
.searchbased {
	list-style-type: none;
    position: absolute;
   	margin-left: calc(76% + 3px);
    margin-top: calc(6% + 10px);
}
.searchbased:hover {
	position: absolute;
}
.searchbased-link {
	text-decoration: none;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: #6b6a6a;
    margin-left: calc(2% + 5px);
    margin-top: calc(-2% + 3px);
    text-align: center;
    position: absolute;
}
.searchbased-link:hover {
	font-size: 23px;
}
.ipad-block {
	position: absolute;
    margin-top: calc(31% + 9px);
    margin-left: calc(22% + 5px);
}