.body {
	margin: 0;
}
.header {
	height: 488px;
	background: url('./images/header-background.png');
	background-size: cover;
}
.banner-image {
	position: absolute;
	margin-top: 186px;
	margin-left: 232px;
}