.body {
	margin: 0;
}
.header {
	height: 488px;
	background-color: #665555;
	background: url('./images/header-background.png');
	background-size: cover;
}
.banner-image {
	position: absolute;
	margin-top: 186px;
	margin-left: calc(18% + 6px);
}
.logo {
	position: absolute;
	margin-top: 46px;
	margin-left: calc(15% + 10px);
	opacity: 0.68;
}
.top-menu {
	position: absolute;
	margin-top: 28px;
	margin-left: calc(45% + 22px);
}
.top-menu-links {
	margin-left: calc(7% + 4px);
	text-decoration: none;
	color: #FFFFFF;
	opacity: 0.68;
	font-size: 21px;
	font-family: sans-serif;
	font-weight: 100;
}
.top-menu-links:hover {
	opacity: 1;
}